<h1 style="text-align:center ; background-color: black; color: aliceblue; border-radius: 10px; padding: 40px;">Login</h1>

<form action="/login" method="POST" style="text-align: center; background-color:#939393; font-size: 30px;border-radius: 30px; padding: 130px;">

    <div style="margin: 5px; ">
        <label for="email">Email : </label>
        <input type="email" name="email" id="email">
    </div>
    <div style="margin: 5px;">
        <label for="password">password : </label>
        <input type="password" name="password" id="password">
    </div>
    <button type="submit" style="padding: 20px; font-size: 20px;background-color: black; color: aliceblue;border-radius: 15px;">Login</button>
    <a href="/register" style="text-decoration: none; color: darkblue;">register</a>
</form>